In [1]:
import pandas as pd
import numpy as np

In [2]:
insurance=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\insurance.csv")
insurance.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
cars=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\usedcars.csv")
cars.head(),cars.shape

(   year model  price  mileage   color transmission
 0  2011   SEL  21992     7413  Yellow         AUTO
 1  2011   SEL  20995    10926    Gray         AUTO
 2  2011   SEL  19995     7351  Silver         AUTO
 3  2011   SEL  17809    11613    Gray         AUTO
 4  2012    SE  17500     8367   White         AUTO,
 (150, 6))

In [4]:
cars.price.min(),cars.price.max(),cars.price.mean(),cars.price.median()

(3800, 21992, 12961.933333333332, 13591.5)

In [9]:
cars.price.quantile()#defualt 50%

13591.5

In [19]:
#Q1 25% 1st quartile, Q3 75% 3rd quartile
cars.price.quantile(q=[0,0.25,0.5,0.75,0.9,1])#0=min,1=max

0.00     3800.0
0.25    10995.0
0.50    13591.5
0.75    14904.5
0.90    15999.1
1.00    21992.0
Name: price, dtype: float64

In [20]:
np.quantile(cars.price,q=[0,0.25,0.5,0.75,0.9,1])

array([ 3800. , 10995. , 13591.5, 14904.5, 15999.1, 21992. ])

In [14]:
cars[cars.price>15999.1]

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
4   2012    SE  17500     8367   White         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
10  2010   SEL  16995    40539   Black         AUTO
11  2011   SES  16992     9199  Silver         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO

In [16]:
cars[cars.price<10995.0].shape

(36, 6)

In [21]:
#IQR
cars.price.quantile(q=0.75)-cars.price.quantile(q=0.25)

3909.5

In [22]:
from scipy.stats import iqr

In [23]:
iqr(cars.price)

3909.5